################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsFormsApp1.slnx/FileContentIndex/79da2ea9-d421-4572-9b66-2a2cb490e5b1.vsidx
.vsidx
/.vs/WindowsFormsApp1.slnx/FileContentIndex/8f126b48-f494-44b7-8432-2083080e591f.vsidx
